$primary: #0b2817;
$primary-hover: #134528;

// Text
$text-light: #fff;

// Background
$background-dark: #0b2817;
$background-grey: #f0f3f4;
$background-dark-web: #0b2817;

// Border
$border-grey: #808080;

// Status
$success: #0b2817;
$error: #9f3a38;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
